body{
    background-color: rgb(146, 255, 142);
    text-align: justify;
}

.container{
    padding: 0% 10%;
}

#title{
    display: flex;
}

.title-heading{
    font-family: "Dancing SCript", cursive;
    font-weight: 900;
    font-size: 2.7rem;
    letter-spacing: 5px;
}

.main-heading{
    font-family: 'Roboto Mono', monospace;
    margin: 3% auto 6%;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.1rem;
}

#video-container{
    text-align: center;
}

iframe{
    border-radius: 10px;
    margin-bottom: 3%;
}

.content-text{
    font-size: 1.7rem;
    margin: 2% 0;
}

li{
    font-size: 1.5rem;
}

.sub-heading{
    font-family: 'Roboto Mono', monospace;
    margin-top: 70px;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: underline;
    letter-spacing: 0.1rem;
}

.content-img{
    float: right;
    width: 25%;
    padding: 0;
    margin: 10px 0 0 20px;
}

.butn{
    border: none;
    border-radius: 20px;
    color: white;
    background-color: rgb(0, 219, 0);
    height: 40px;
    font-size: 1.3rem;
    width: 300px;
}

.butn:hover{
    border: 1px solid rgb(0, 219, 0);
    color: rgb(0, 219, 0);
    background-color: white;
}

.quiz-butn{
    font-size: 1.5rem;
    height: 50px;
    width: 500px;
}

.title-butn{
    width: 170px;
    margin: 45px 20px 0 auto;
}