
.container-fluid{
    margin: 0;
    padding: 0;
}

#title{
    text-align: center;
    padding: 2% 10%;
    /* background-image: url("../images/title-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    height: 90vh;
}

.title-heading{
    text-align: left;
    font-family: "Dancing SCript", cursive;
    font-weight: 900;
    font-size: 3rem;
    letter-spacing: 5px;
}

.img-container{
    position: absolute;
    z-index: -1;
    width: 100%;
    opacity: 0.8;
}

.bg-img{
    width: 100%;
    margin: 0;
}

.logo-img{
    width: 20%;
    margin-bottom: 7%;
}

.title-content{
    position: relative;
    text-align: left;
    margin: 5% 0;
}

.big-heading{
    font-size: 2.8rem;
    font-weight: 700;
    text-align: right;
}

.title-desc{
    font-size: 1.7rem;
    font-weight: 600;
    color: rgb(6, 121, 98);
    text-align: right;
}


/* section introduction */

#introduction{
    padding: 9% 10%;
}


.intro-img{
    width: 35%;
    float: left;
    margin-right: 30px;
}

.intro.content{

}

.intro-heading{
    font-size: 2.3rem;
    margin-bottom: 2%;
    letter-spacing: 0.1rem;
}

.intro-text{
    font-size: 1.30rem;
}

/* course section */

#courses{
    padding: 5% 10% 3%;
    clear: both;
    background-color: rgb(164, 244, 240);
}

.col-lg-4{
    padding: 4%;
}

.card{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 20vh;
    /* background-image: url("../images/segregation-display-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.card-img{
    width: 100%;
    height: 20vh;
}


.card-title{
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}


.service-item{
    box-shadow: 0 0 45px gray;
    transition: all 0.5s ease-in-out;
    margin-top: 6px;
    margin-bottom: 6px;
}

.service-item:hover{
    scale: 110%;
    transition: all 0.5s ease-in-out;
}


.image
{
    width: 100%;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
}