
.container-fluid{
    margin: 0;
    padding: 0;
}

#title{
    text-align: center;
    padding: 2% 10%;
    height: 90vh;
}

.title-heading{
    text-align: left;
    font-family: "Dancing SCript", cursive;
    font-weight: 900;
    font-size: 3rem;
    letter-spacing: 5px;
}

.img-container{
    position: absolute;
    z-index: -1;
    width: 100%;
    opacity: 0.8;
}

.bg-img{
    width: 100%;
    margin: 0;
}

.logo-img{
    width: 20%;
    margin-bottom: 7%;
}

.title-content{
    font-family: 'Roboto Mono', monospace;
    position: relative;
    text-align: left;
    margin: 5% 0;
}

.big-heading{
    
    font-size: 2.8rem;
    font-weight: 700;
    text-align: right;
}

.title-desc{
    font-size: 1.7rem;
    font-weight: 600;
    color: rgb(6, 121, 98);
    text-align: right;
}


/* section introduction */

#introduction{
    padding: 9% 10%;
}


.intro-img{
    width: 35%;
    float: left;
    margin-right: 30px;
}

.intro-heading{
    font-family: 'Roboto Mono', monospace;
    font-size: 2.3rem;
    margin-bottom: 2%;
    letter-spacing: 0.1rem;
}

.intro-text{
    font-size: 1.30rem;
}

/* course section */

.courses{
    padding: 4% 10% 3%;
    clear: both;
    background-color: rgb(146, 255, 142);;
} 

.col-lg-4{
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    text-align: center;
    padding: 4%;
}


.c-image{
    padding: 0px 10px 10px 10px;
    width: 300px;
    height: 170px;
}

.crs-div
{
    background-color: white;
}

.service-item{
    
    font-size: 4rem;
    width: 370px;
    height: 220px;
    box-shadow: 0 0 45px gray;
    transition: all 0.5s ease-in-out;
    background-color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.service-item:hover{
    scale: 110%;
    transition: all 0.5s ease-in-out;
}