#quiz{
    margin: 130px 10% 0;
}

.question{
    font-size: 1.9rem;
}

label{
    font-size: 1.7rem;
    margin: 30px;
}

input[type="radio"]{
    height: 16px;
    width: 16px;
}

.q-div{
    padding: 0 20px;
    border-radius: 20px;
}

.result{
    text-align: center;
    margin-top: 5%;
}

.result-text{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}