.butn
{

    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    padding: 10px;
    border-radius: 7px;
    background-color: #00FF00;
}

.butn:hover
{
    background-color: white;
    border: 1px solid green;
    color: green;
}